
<form>

<label>Book Name: </label>
{{input type="text" valueBinding="bookname"}}<br><br>
<label>Author: </label>
{{input type="text" valueBinding="author"}}<br><br>
<button {{action "addNewBook"}}>Add</button>

</form>

