<div style="float:left;width:30%">
<ul>
  <li>{{#link-to "lhstree.addbook"}}<u>Add New Book</u>{{/link-to}}</li>
  <li>{{#link-to "lhstree.allbooks"}}<u>View Books</u>{{/link-to}}</li>
  <li>Update Book</li>
  <li>Delete Book</li>
</ul>
</div>


<div style="float:left;width:70%">
{{outlet}}
</div>
